@using Commons.Models;
@model Page<modulo_documentacion.Areas.Admin.Models.Basicas.Escolaridad>
<box-header title="Lista de Datos">
    <box-search update-div="tablaEscolaridad">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a onclick="nuevaEscolaridad()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo</span></i>
            </a>
        </div>
    </box-search>
</box-header>
<box-body table="true">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Descripción
                </th>
                <th>
                    Tipo
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items.OrderBy(x => x.Descripcion).ThenBy(x => x.Tipo))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        <a onclick="editaEscolaridad(@item.Id)" title="Editar" class="btn btn-primary btn-xs"><i class="fa fa-file-text-o"></i></a>
                        <!--<a onclick="Eliminar('@item.Id')" title="Eliminar" class="btn btn-info btn-xs btn-danger"><i class="fa fa-trash"></i></a>-->
                        <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               title="Eliminar"
                               confirm="Este registro ya no podra visualizarse"
                               confirm-icon="Danger"
                               class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>
                        </a>
                    </td>

                </tr>
                }
            </tbody>
        </table>

    </box-body>
    <box-footer page-update-div="tablaEscolaridad"></box-footer>
    <modal title="Edicion de Escolaridad" function="editaEscolaridad" load-url="/Admin/Escolaridad/_Edit/" size="Medium"></modal>
    <modal title="Nueva Escolaridad" function="nuevaEscolaridad" load-url="/Admin/Escolaridad/_Create/" size="Medium"></modal>
    <!--<modal title="Eliminar Escolaridad" function="Eliminar" load-url="/Admin/Escolaridad/_Delete/" size="Medium"></modal>-->
